@font-face {
font-family: 'fonticon';
src: url("./fonticon.ttf") format("truetype"),
url("./fonticon.eot") format("embedded-opentype"),
url("./fonticon.woff") format("woff");
}

[class*=" icon-"],
[class^="icon-"] {
    font-family: 'fonticon' !important;
    font-style:normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: .1em;
}

[class*=" icon-addon-"],
[class^="icon-addon-"] {
  &::before {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 59%,
      95.5% 54.5%,
      88% 50.3%,
      80% 48.5%,
      71% 49.2%,
      64% 52%,
      58% 56%,
      53% 62%,
      50% 69%,
      48.8% 79%,
      50.5% 87%,
      55% 95%,
      60% 100%,
      0 100%
    );
  }
}

$icons: (
"radio": "\ea01",
"radio-active": "\ea02",
"checkbox-indeterminate": "\ea03",
"checkbox": "\ea04",
"checkbox-active": "\ea05",
"swap": "\ea06",
"unfold": "\ea07",
"account": "\ea08",
"add": "\ea09",
"apartment": "\ea0a",
"arrow-left": "\ea0b",
"arrow-down": "\ea0c",
"arrow-dropdown": "\ea0d",
"arrow-dropup": "\ea0e",
"arrow-right": "\ea0f",
"arrow-up": "\ea10",
"refresh": "\ea11",
"calendar-today": "\ea12",
"cancel-circle": "\ea13",
"check-circle": "\ea14",
"check-circle-outline": "\ea15",
"check": "\ea16",
"chevron-left": "\ea17",
"chevron-right": "\ea18",
"cancel": "\ea19",
"cloud": "\ea1a",
"collection": "\ea1b",
"copy": "\ea1c",
"cut": "\ea1d",
"paste": "\ea1e",
"creditcard": "\ea1f",
"calendar": "\ea20",
"delete": "\ea21",
"download": "\ea22",
"title": "\ea23",
"mail-open": "\ea24",
"edit": "\ea25",
"error": "\ea26",
"error-outline": "\ea27",
"chevron-up": "\ea28",
"chevron-down": "\ea29",
"heart": "\ea2a",
"sort": "\ea2b",
"folder": "\ea2c",
"format-align-left-filled": "\ea2d",
"home": "\ea2e",
"inbox": "\ea2f",
"info": "\ea30",
"info-outline": "\ea31",
"layers": "\ea32",
"location": "\ea33",
"lock": "\ea34",
"logout": "\ea35",
"mail": "\ea36",
"mail-outline": "\ea37",
"menu": "\ea38",
"monitor": "\ea39",
"more-horizontal": "\ea3a",
"more-vertical": "\ea3b",
"notification": "\ea3c",
"newtab": "\ea3d",
"users": "\ea3e",
"add-user": "\ea3f",
"user": "\ea40",
"phone": "\ea41",
"photo": "\ea42",
"photo-outline": "\ea43",
"play": "\ea44",
"clock": "\ea45",
"unlock": "\ea46",
"database": "\ea47",
"network": "\ea48",
"dashboard": "\ea49",
"settings": "\ea4a",
"star-filled": "\ea4b",
"star-outline": "\ea4c",
"maintenance": "\ea4d",
"send": "\ea4e",
"next": "\ea4f",
"previous": "\ea50",
"warning-outline": "\ea51",
"list": "\ea52",
"university": "\ea53",
"usage": "\ea54",
"help": "\ea55",
"warning": "\ea56",
"support": "\ea57",
"search": "\ea58",
"logs": "\ea59",
"dashboard-outline": "\ea5a",
"star-half-filled": "\ea5b",
"modules": "\ea5c",
"work": "\ea5d",
"upload-file": "\ea5e",
"wifi": "\ea5f",
"theme": "\ea60",
"instance": "\ea61",
"pause": "\ea62",
"stop": "\ea63",
"reset": "\ea64",
"key": "\ea65",
"server": "\ea66",
"download-file": "\ea67",
"scale-up": "\ea68",
"scale-down": "\ea69",
"resize": "\ea6a",
"grid": "\ea6b",
"upload": "\ea6c",
"cloud-error": "\ea6d",
"terminal": "\ea6e",
"sample-data": "\ea6f",
"add-circle-outline": "\ea70",
"play-circle": "\ea71",
"play-circle-outline": "\ea72",
"stop-circle": "\ea73",
"add-circle": "\ea74",
"scale-in": "\ea75",
"scale-out": "\ea76",
"rocket": "\ea77",
"link": "\ea78",
"coin": "\ea79",
"processor": "\ea7a",
"memory": "\ea7b",
"storage": "\ea7c",
"lan": "\ea7d",
"cloud-download": "\ea7e",
"description": "\ea7f",
"edit-notifications": "\ea80",
"gpp-bad": "\ea81",
"gpp-good": "\ea82",
"gpp-maybe": "\ea83",
"label": "\ea84",
"key-off": "\ea85",
"sync": "\ea86",
"sync-problem": "\ea87",
"visibility": "\ea88",
"visibility-off": "\ea89",
"cloud-upload": "\ea8a",
"xcloud": "\ea8b",
"legacycloud": "\ea8c",
"data-center": "\ea8d",
"evaluation": "\ea8e",
"lightning": "\ea8f",
"server2": "\ea90",
"server3": "\ea91",
"substract-circle": "\ea92",
"chart-area": "\ea93",
"chart-bar": "\ea94",
"schema": "\ea95",
"monitoring": "\ea96",
"scylla": "\ea97",
"table": "\ea98",
"operations": "\ea99",
"save": "\ea9a",
"tune": "\ea9b"
);

@each $name, $glyph in $icons {
    .icon-#{$name}::before {
        content: $glyph;
    }
    .icon-addon-#{$name}::after {
        content: $glyph;
    }
}
  