:root {
  --backgroundColor: #F7FAFC;
  --textColor: #4B546F;
  --emphasisColor: #383D57;
  --inputColor: #383D57;
  --highlightColor: #2196F3;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  color: var(--textColor);
  margin-top: 20px;
}

.container {
  position: relative;
  background-color:  var(--backgroundColor);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.cost {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3rem;
  margin-top: -1rem;
}

.cost p {
  display: flex;
  align-items: baseline;
  font-size: 3em;
  margin: 0;
}

#costDiff {
  font-size: 1.5em;
  margin-right: 0.2rem;
}

#costDiffMo {
  font-size: 0.5em;
  vertical-align: middle;
}

#costSaved {
  font-size: 1.5em;
  margin-bottom: 1.0rem;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: var(--textColor);
  font-weight: bold;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: var(--inputColor);
  outline: none;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 40px;
  border: 2px solid white;
  background: var(--inputColor);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--highlightColor);
  cursor: pointer;
}

span {
  font-weight: bold;
  color: var(--emphasisColor);
}

a {
  color: var(--highlightColor);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 0;
  display: block;
  text-align: left;
}

a:hover {
  text-decoration: underline;
  color: var(--highlightColor);
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.radio-container label {
  margin-right: 20px;
  padding-left: 3rem;
  display: flex;
  align-items: center;
}

.radio-container input[type="radio"] {
  margin-right: 10px;
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--inputColor);
  background-color: var(--backgroundColor);
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

input[type="radio"]:checked {
  background-color: var(--backgroundColor);
}

input[type="radio"]:checked::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--highlightColor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 5px;
  font-weight: bold;
  color: var(--textColor);
  border: 1px solid var(--textColor);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  vetical-align: bottom;
  float: right;
}

.tooltip-text {
  visibility: hidden;
  width: 400px;
  background-color: var(--inputColor);
  color: var(--backgroundColor);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 20%;
  left: -100%;
  margin-left: -400px;
  opacity: 0;
  transition: opacity 0.3s;
}

.info-icon:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

input[type="text"] {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  padding: 5px;
  border: 1px solid var(--backgroundColor);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.2s;
}

input[type="text"]:hover {
  cursor: pointer;
}

input[type="text"]:focus {
  border-color: var(--highlightColor);
}

select {
  padding: 1px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid var(--backgroundColor);
  border-radius: 4px;
  background-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

select:focus {
  border-color: #4CAF50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.header {
  font-size: 1.6em;
  margin-bottom: 1.0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.costs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-width: 300px;
  overflow-y: auto;
  max-height: 300px;
  font-family: monospace;
  white-space: pre-wrap;
  margin: 0 auto;
  font-size: 1.2em;
}

.cost-entry {
  color: var(--backgroundColor);
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.cost-key {
  color: var(--emphasisColor);
  text-align: left;
}

.cost-value {
  color: var(--textColor);
  text-align: right;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  margin: 0 auto;
  width: 76px;
  height: 42px;
  background: var(--emphasisColor);
  border-radius: 5px;
  color: var(--backgroundColor);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  cursor: pointer;
  border: none;
  transition: background 0.3s;
}

button:hover {
  background: var(--emphasisColor);
}

.foldable {
  display: inline-flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px;
}

.foldable.collapsed {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%232196F3"><path d="M480-120 300-300l58-58 122 122 122-122 58 58-180 180ZM358-598l-58-58 180-180 180 180-58 58-122-122-122 122Z"/></svg>');
}

.foldable.expanded {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%232196F3"><path d="m356-160-56-56 180-180 180 180-56 56-124-124-124 124Zm124-404L300-744l56-56 124 124 124-124 56 56-180 180Z"/></svg>');
}